<! DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Server App Hayô - Transporte</title>
    <!-- deixando o App responsivo -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/css/transportes.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>

</head>

<body ng-app ng-controller="EditarCtrlT">


    <figure id="img-home" class="imghome">
        <img src="/img/imghome.jpg">
    </figure>

    <ul id="lst_cadastro" class="lst-cadastro">
        <a id="menu_home" class="menu" href="/S">
            <li>☼</li>
        </a>
        <a id="menu_pontosturisticos" class="menu" href="/">
            <li>Pontos Turísticos</li>
        </a>
        <a id="menu_hospedagem" class="menu" href="/H">
            <li>Hospedagens</li>
        </a>
        <a id=" menu_restaurantes " class="menu " href="/R ">
            <li>Restaurantes</li>
        </a>
        <a id="menu_transportes " class="menu " href="/T ">
            <li>Transportes</li>
        </a>
        <a id="menu_utilidadepublica " class="menu " href="/U ">
            <li>Utilidades Públicas</li>
        </a>
    </ul>

    <form ng-model="transporte " name="transporteform ">
        <fieldset>
            <div class="tipo_transportes " ng-model="transporte.tipo ">
                <strong>Tipo:</strong>
                <select name=" tipo ">
                    <option value="taxis ">Taxis</option>
                    <option value="transportes_publicos ">Transportes Públicos</option>
                </select>
                <strong>Nome:</strong>
                <input type="text " required name="nome " id="t_nome " placeholder="{{transporte.nome}} " ng-model="transporte.nome " size="350 " />

            </div>




            <strong><p>Imagens:</strong>
            <input type="text" required name="imagens" id="t_imagens" placeholder="{{transporte.imagens}}" ng-model="transporte.imagens" size="147 " />
            </p>
            <strong>Imagens Detalhe1:</strong>
            <input type="text" required name="imagensD1" id="t_imagensD1" placeholder="{{transporte.imagensD1}}" ng-model="transporte.imagensD1" size="147 " />

            <strong><p>Imagens Detalhe2:</strong>
            <input type="text" required name="imagensD2" id="t_imagensD2" placeholder="{{transporte.imagensD2}}" ng-model="transporte.imagensD2" size="147 " />
            </p>

            <strong>Descrição:</strong>
            <textarea id="textarea " required name="descricao " placeholder="{{transporte.descricao}} " ng-model="transporte.descricao " maxlength="300 " /></textarea>

            <div class="form-actions ">
                <button ng-click="modificarT() " class="btn btn-primary ">Modificar</button>
                <a href="/T " class="btn ">Voltar</a>
            </div>
        </fieldset>
    </form>

</body>

</html>