<! DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Server App Hayô - Sobre Cabrália</title>
    <!-- deixando o App responsivo -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/css/detalhe.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>

</head>

<body ng-app ng-controller="EditarCtrlS">

    <figure id="img-home" class="imghome">
        <img src="/img/imghome.jpg">
    </figure>
    <ul id="lst_cadastro" class="lst-cadastro">
        <a id="menu_home" class="menu" href="/S">
            <li>☼</li>
        </a>
        <a id="menu_pontosturisticos" class="menu" href="/">
            <li>Pontos Turísticos</li>
        </a>
        <a id="menu_hospedagem" class="menu" href="/H">
            <li>Hospedagens</li>
        </a>
        <a id="menu_restaurantes" class="menu" href="/R">
            <li>Restaurantes</li>
        </a>
        <a id="menu_transportes" class="menu" href="/T">
            <li>Transportes</li>
        </a>
        <a id="menu_utilidadepublica" class="menu" href="/U">
            <li>Utilidades Públicas</li>
        </a>
    </ul>

    <form ng-model="sobre" name="sobreform">
        <fieldset>
            
            <strong>Imagens01:</strong>
            <input type="text" required name="imagens01" id="s_imagens01" placeholder="{{sobre.imagens01}}" ng-model="sobre.imagens01" size="147 " />


            <strong><p>Descrição:</strong>
            <textarea id="textarea " required name="descricao " placeholder="{{sobre.descricao}} " ng-model="sobre.descricao " maxlength="300 " /></textarea>
            </p>
            

            <strong>Imagens02:</strong>
            <input type="text" required name="imagens02" id="s_imagens02" placeholder="{{sobre.imagens02}}" ng-model="sobre.imagens02" size="147 " />


            <strong><p>Historia:</strong>
            <textarea id="s_historia " required name="historia " placeholder="{{sobre.historia}} " ng-model="sobre.historia " maxlength="300 " /></textarea>
            </p>
            <strong>Mapa01:</strong>
            <input type="text" required name="mapa01" id="s_mapa01" placeholder="{{sobre.mapa01}}" ng-model="sobre.mapa01" size="147 " />

             <strong>Mapa02:</strong>
            <input type="text" required name="mapa02" id="s_mapa02" placeholder="{{sobre.mapa02}}" ng-model="sobre.mapa02" size="147 " />




            <div class="form-actions ">
                <button ng-click="modificarS() " class="btn btn-primary ">Modificar</button>
                <a href="/S " class="btn ">Voltar</a>
            </div>
        </fieldset>
    </form>

</body>

</html>
