<! DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <title>Server App Hayô - hospedagens</title>
        <!-- deixando o App responsivo -->
        <meta name="viewport" content="width=device-width, user-scalable=no" />
        <link rel="stylesheet" href="/css/hospedagem.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/angular.min.js"></script>
        <script src="/js/controllers.js"></script>

    </head>

    <body ng-app ng-controller="EditarCtrlH">

        <figure id="img-home" class="imghome">
            <img src="/img/imghome.jpg">
        </figure>
        <ul id="lst_cadastro" class="lst-cadastro">
            <a id="menu_home" class="menu" href="index.html">
                <li>☼</li>
            </a>
            <a id="menu_pontosturisticos" class="menu" href="../">
                <li>Pontos Turísticos</li>
            </a>
            <a id="menu_hospedagem" class="menu" href="../H">
                <li>Hospedagens</li>
            </a>
            <a id="menu_restaurantes" class="menu" href="../R">
                <li>Restaurantes</li>
            </a>
            <a id="menu_transportes" class="menu" href="../T">
                <li>Transportes</li>
            </a>
            <a id="menu_utilidadepublica" class="menu" href="../U">
                <li>Utilidades Públicas</li>
            </a>
        </ul>

        <form ng-model="hospedagem" name="hospedagemform">
            <fieldset>
                <div id="tipo">Tipo:
                    <select name="tipo" ng-model="hospedagem.tipo">
                        <option value="Hotéis">Hotéis</option>
                        <option value="Pousadas">Pousadas</option>
                        <option value="Camping">Camping</option>
                        <option value="Resorts">Resorts</option>
                    </select>
                </div>

                <label for="h_nome">
                    <p>Nome:
                        <input type="text" required name="nome" id="r_nome" placeholder="{{hospedagem.nome}}" ng-model="hospedagem.nome" size="350" />
                </label>
                </p>
                <label for="h_endereco">
                    <p>Endereço:
                        <input type="text" required name="endereco" id="r_endereco" placeholder="{{hospedagem.endereco}}" ng-model="hospedagem.endereco" size="147" />
                </label>
                </p>
                <label for="h_telefone">
                    <p>Telefone:
                        <input type="text" required name="telefone" id="r_telefone" placeholder="{{hospedagem.telefone}}" ng-model="hospedagem.telefone" size="147 " />
                    </p>
                </label>
                <label for="r_textarea ">
                    <p>Descrição:</p>
                    <textarea id="textarea " required name="descricao " placeholder="{{hospedagem.descricao}} " ng-model="hospedagem.descricao " maxlength="300 " /></textarea>
                </label>
                <div class="form-actions ">
                    <button ng-click="modificarH() " class="btn btn-primary ">Modificar</button>
                    <a href="/H " class="btn ">Voltar</a>
                </div>
            </fieldset>
        </form>

    </body>
</html>
