<! DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Server App Hayô - Utilidades Públicas</title>
      <!-- deixando o App responsivo -->
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <link rel="stylesheet" href="/css/utilidadepublcia.css">
      <link rel="stylesheet" href="/css/bootstrap.css">
      <script src="/js/angular.min.js"></script>
      <script src="/js/controllers.js"></script>
</head>

<body ng-app ng-controller="EditarCtrlU">
   <figure id="img_home" class="imghome">
      <img src="/img/imghome.jpg">
   </figure>
   <ul id="lst_cadastro" class="lst-cadastro">
      <a id="menu_home" class="menu" href="../public/index.html">
         <li>☼</li>
      </a>
      <a id="menu_pontosturisticos" class="menu" href="/">
         <li>Pontos Turísticos</li>
      </a>
      <a id="menu_hospedagem" class="menu" href="/H">
         <li>Hospedagens</li>
      </a>
      <a id="menu_restaurantes" class="menu" href="/R">
         <li>Restaurantes</li>
      </a>
      <a id="menu_transportes" class="menu" href="/T">
         <li>Transportes</li>
      </a>
      <a id="menu_utilidadepublica" class="menu" href="/U">
         <li>Utilidades Públicas</li>
      </a>
   </ul>

   <form ng-model="utilidade" name="utilidadeform">
      <fieldset>
         <div id="tipo">Tipo:
            <select name="tipo" ng-model="utilidade.tipo">
               <option value="Saúde">Saúde</option>
               <option value="Emergências">Emergências</option>
               <option value="Serviços Públicos">Serviços Públicos</option>
            </select>
         </div>

         <label for="r_nome">
            <p>Nome:
               <input type="text" required name="nome" id="u_nome" placeholder="{{utilidade.nome}}" ng-model="utilidade.nome" size="350" />
         </label>
         </p>
         <label for="r_endereco">
            <p>Endereço:
               <input type="text" required name="endereco" id="u_endereco" placeholder="{{utilidade.endereco}}" ng-model="utilidade.endereco" size="147" />
         </label>
         </p>
         <label for="r_telefone">
            <p>Telefone:
               <input type="text" required name="telefone" id="u_telefone" placeholder="{{utilidade.telefone}}" ng-model="utilidade.telefone" size="147 " />
            </p>
         </label>
         <label for="r_textarea ">
            <p>Descrição:</p>
            <textarea id="textarea " required name="descricao " placeholder="{{utilidade.descricao}} " ng-model="utilidade.descricao " maxlength="300 " /></textarea>
         </label>
         <div class="form-actions ">
            <button ng-click="modificarU() " class="btn btn-primary ">Modificar</button>
            <a href="/U " class="btn ">Voltar</a>
         </div>
      </fieldset>
   </form>
</body>

</html>>
