<! DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Server App Hayô - Restaurantes</title>
    <!-- deixando o App responsivo -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/css/pontosturisticos.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>

</head>

<body ng-app ng-controller="EditarCtrl">

    <figure id="img-home" class="imghome">
        <img src="../public/img/imghome.jpg">
    </figure>

    <ul id="lst_cadastro" class="lst-cadastro">
        <a id="menu_home" class="menu" href="index.html">
            <li>☼</li>
        </a>
        <a id="menu_pontosturisticos" class="menu" href="../">
            <li>Pontos Turísticos</li>
        </a>
        <a id="menu_hospedagem" class="menu" href="../public/hospedagem.html">
            <li>Hospedagens</li>
        </a>
        <a id="menu_restaurantes" class="menu" href="../R">
            <li>Restaurantes</li>
        </a>
        <a id="menu_transportes" class="menu" href="../public/transportes.html">
            <li>Transportes</li>
        </a>
        <a id="menu_utilidadepublica" class="menu" href="../public/utilidadepublica.html">
            <li>Utilidades Públicas</li>
        </a>
    </ul>

    <form ng-model="ponto" name="pontoform">
        <fieldset>
            <label for="p_nome">
                <p>Nome:
                    <input type="text" required name="nome" id="p_nome" placeholder="{{ponto.nome}}" ng-model="ponto.nome" size="350" />
            </label>
            </p>
            <label for="p_endereco">
                <p>Endereço:
                    <input type="text" required name="endereco" id="p_endereco" placeholder="{{ponto.endereco}}" ng-model="ponto.endereco" size="147" />
            </label>
            </p>
            <label for="p_textarea">
                <p>Descrição:</p>
                <textarea id="textarea" required name="p_descricao" placeholder="{{ponto.descricao}}" ng-model="ponto.descricao" " maxlength="300 "></textarea>
            </label>
            <div class="form-actions ">
                <button ng-click="modificar() " class="btn btn-primary ">Modificar</button>
                <a href="/ " class="btn ">Voltar</a>
            </div>
        </fieldset>
    </form>

</body>

</html>