<! DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Server App Hayô - Utilidades Públicas</title>
    <!-- deixando o App responsivo -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/css/utilidadepublica.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>
</head>

<body ng-app ng-controller="NovoCtrlU">
    <figure id="img_home" class="imghome">
        <img src="img/imghome.jpg">
    </figure>
    <ul id="lst_cadastro" class="lst-cadastro">
        <a id="menu_home" class="menu" href="/S">
            <li>☼</li>
        </a>
        <a id="menu_pontosturisticos" class="menu" href="/">
            <li>Pontos Turísticos</li>
        </a>
        <a id="menu_hospedagem" class="menu" href="/H">
            <li>Hospedagens</li>
        </a>
        <a id="menu_restaurantes" class="menu" href="/R">
            <li>Restaurantes</li>
        </a>
        <a id="menu_transportes" class="menu" href="/T">
            <li>Transportes</li>
        </a>
        <a id="menu_utilidadepublica" class="menu" href="/U">
            <li>Utilidades Públicas</li>
        </a>
    </ul>

    <form ng-model="utilidade" name="utilidadeform">
        <fieldset>
            <div class="u_tipo"><strong>Tipo:</strong>
                <select name="tipo" ng-model="utilidade.tipo">
                    <option value="Saúde">Saúde</option>
                    <option value="Emergências">Emergências</option>
                    <option value="Serviços Públicos">Serviços Públicos</option>
                </select>
                <strong>Nome:</strong>

                <input type="text" required name="nome" id="r_nome" ng-model="utilidade.nome" placeholder="Nome da empresa ou serviço" size="350" />


            </div>



            <strong> Endereço:</strong>

            <input type="text" required name="endereco" id="r_endereco" ng-model="utilidade.endereco" placeholder="Rua, Av, bairo, ..." size="147" />
            <strong> <p>Telefone:</strong>

            <input type="text" required name="telefone" id="r_telefone" ng-model="utilidade.telefone" placeholder="0000-0000" size="147" />
            </strong>
            <strong></p>Imagens:</strong>

            <input type="text" required name="imagens" id="u_imagens" ng-model="utilidade.imagens" placeholder="Link de sua imagem" size="147 " />
            <strong><p>Imagens Detalhe1:</strong>
            <input type="text" required name="imagensD1" id="u_imagensD1" ng-model="utilidade.imagensD1" placeholder="Link de sua imagem" size="147 " />
            </p>

            <strong>Imagens Detalhe2:</strong>
            <input type="text" required name="imagensD2" id="u_imagensD2" ng-model="utilidade.imagensD2" placeholder="Link de sua imagem" size="147 " />


            <strong> <p>Descrição:</strong>

            <textarea id="textarea" required name="u_descricao" ng-model="utilidade.descricao" placeholder="Faça uma breve descriçao sobre o serviço..." maxlength="500"></textarea>
            </label>
            </p>

            <div class="form-actions">
                <button ng-click="criarU()" class="btn btn-primary">Salvar</button>
                <a href="/U" class="btn">Voltar</a>

            </div>
        </fieldset>
    </form>
</body>

</html>
