<! DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Server App Hayô - Transportes</title>
    <!-- deixando o App responsivo -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="/css/transportes.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/angular.min.js"></script>
    <script src="/js/controllers.js"></script>

</head>

<body ng-app ng-controller="NovoCtrlT">

    <figure id="img-home" class="imghome">
        <img src="../public/img/imghome.jpg">
    </figure>
    <ul id="lst_cadastro" class="lst-cadastro">
        <a id="menu_home" class="menu" href="index.html">
            <li>☼</li>
        </a>
        <a id="menu_pontosturisticos" class="menu" href="../">
            <li>Pontos Turísticos</li>
        </a>
        <a id="menu_hospedagem" class="menu" href="../H">
            <li>Hospedagens</li>
        </a>
        <a id="menu_restaurantes" class="menu" href="../R">
            <li>Restaurantes</li>
        </a>
        <a id="menu_transportes" class="menu" href="../T">
            <li>Transportes</li>
        </a>
        <a id="menu_utilidadepublica" class="menu" href="../U">
            <li>Utilidades Públicas</li>
        </a>
    </ul>

    <form ng-model="transporte" name="transporteform">
        <fieldset>

            <div class="tipo_transportes">
                Tipo:
                <select name=" tipo " ng-model="transporte.tipo">
                    <option value="taxis ">Taxis</option>
                    <option value="transportes_publicos ">Transportes Públicos</option>
                </select>
            </div>
            <label for="t_nome ">
                <p>Nome:
                    <input type="text " required name="nome " id="t_nome " ng-model="transporte.nome " placeholder="Nome do Transporte " size="350 " />
            </label>
            </p>
            <p>Telefone:
                <input type="text " required name="telefone " id="telefone " ng-model="transporte.telefone " placeholder="Telefone do Transporte " size="350 " />
                </label>
            </p>


            <label for="t_textarea ">
                <p>Descrição:</p>
                <textarea id="textarea " required name="t_descricao " ng-model="transporte.descricao " placeholder="Faça uma breve descriçao sobre os Transportes... " maxlength="300 "></textarea>
            </label>
            <div class="form-actions ">
                <button ng-click="criarT() " class="btn btn-primary ">Salvar</button>
                <a href="/T " class="btn ">Voltar</a>
            </div>
        </fieldset>
    </form>

</body>

</html>