<! DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>Server App Hayô - Utilidades Públicas</title>
      <!-- deixando o App responsivo -->
      <meta name="viewport" content="width=device-width, user-scalable=no" />
      <link rel="stylesheet" href="/css/utilidadepublica.css">
      <link rel="stylesheet" href="/css/bootstrap.css">
      <script src="/js/angular.min.js"></script>
      <script src="/js/controllers.js"></script>
</head>

<body ng-app ng-controller="ListaCtrlU">
   <figure id="img_home" class="imghome">
      <img src="img/imghome.jpg">
   </figure>
   <ul id="lst_cadastro" class="lst-cadastro">
      <a id="menu_home" class="menu" href="../public/index.html">
         <li>☼</li>
      </a>
      <a id="menu_pontosturisticos" class="menu" href="/">
         <li>Pontos Turísticos</li>
      </a>
      <a id="menu_hospedagem" class="menu" href="/H">
         <li>Hospedagens</li>
      </a>
      <a id="menu_restaurantes" class="menu" href="/R">
         <li>Restaurantes</li>
      </a>
      <a id="menu_transportes" class="menu" href="/T">
         <li>Transportes</li>
      </a>
      <a id="menu_utilidadepublica" class="menu" href="/U">
         <li>Utilidades Públicas</li>
      </a>
   </ul>

   <div class="container">
      <h4>Utilidades Públicas</h4>
      <div class="btn-toolbar">
         <div class="btn-group">
            <a class="btn btn-large" href="/novoU">Novo</a>
         </div>
         <div class="btn-group" ng-hide="nome == ''">
            <a class="btn btn-large" href="/editarU/{{nome}}">Editar</a>
         </div>
         <div class="btn-group" ng-hide="nome == ''">
            <a class="btn btn-large" ng-click="excluirU()">Excluir</a>
         </div>
      </div>
      <label for="criteria" class="label" style="margin-right:6px;">Pesquisar</label>
      <input id="criteria" type="search" ng-model="criteria">
      <table class="table table-striped table-hover table-bordered">
         <thead>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>telefone</th>
            <th>Descriçao</th>
         </thead>
         <tr ng-repeat="utilidade in utilidades | filter:criteria | orderBy:'nome'" ng-click="select(f=utilidade)" ng-class="{'info': nome == utilidade.nome}">
            <td>{{utilidade.tipo}}</td>
            <td>{{utilidade.nome}}</td>
            <td>{{utilidade.endereco}}</td>
            <td>{{utilidade.telefone}}</td>
            <td>{{utilidade.descricao}}</td>
         </tr>
      </table>
   </div>
</body>

</html>>
