/*
 * GERAL
 */
body {
  background: url(img/bg.jpg) no-repeat center top fixed #e5e5e5;
  font-family: Arial;
  margin: 40px 0 0 0;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

a {
  color: #FFF;
  text-decoration: none;
}

/*
 * FORMULARIO
 */
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 1.4em;
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  border: solid 1px gray;
  font-size: 0.8em;
  padding: 10px;
  width: 100%;
}

textarea {
  min-height: 100px;
}

button {
  font-size: .9em;
  padding: 10px;
}

/*
 * MENU PRINCIPAL
 */
.lst-cadastro {
  margin: 10px 20px 0 20px;
  padding: 0;
}

.lst-cadastro li {
  background: #fff;
  display: inline-block;
  text-align: center;
  list-style: none;
  border-radius: 8px 8px 0 0;
}

.lst-cadastro a {
  color: #000;
  display: block;
  padding: 10px 15px;
  min-height: 19px;
}

.lst-cadastro li:hover {
  background: #fff;
}

.lst-cadastro li:hover a {
  color: #000;
}

.lst-cadastro .selecionado {
  background: #fff;
}

.lst-cadastro .selecionado a {
  color: #000;
}

/*
 * MENU CORES
 */
.lst-cadastro .home:hover,
.lst-cadastro .selecionado.home {
  background: #46fc7e;
}

.lst-cadastro .pontos-turisticos:hover,
.lst-cadastro .selecionado.pontos-turisticos {
  background: #f0fd47;
}

.lst-cadastro .hospedagem:hover,
.lst-cadastro .selecionado.hospedagem {
  background: rgb(250, 180, 48);
}

.lst-cadastro .restaurantes:hover,
.lst-cadastro .selecionado.restaurantes {
  background: rgb(70, 244, 223);
}

.lst-cadastro .transportes:hover,
.lst-cadastro .selecionado.transportes {
  background: rgb(182, 77, 250);
}

.lst-cadastro .utilidade:hover,
.lst-cadastro .selecionado.utilidade {
  background: rgb(170, 156, 248);
}

/*
 * CONTEUDO
 */
.content {
  background: #fff;
  border-top: solid 12px #46fc7e;
  padding: 20px;
  margin: 0 20px 10px 20px;
  min-height: 300px;
}

.content.pontos-turisticos-content {
  border-top: solid 15px #f0fd47;
}

.content.hospedagem-content {
  border-top: solid 15px rgb(250, 180, 48);
}

.content.restaurantes-content {
  border-top: solid 15px rgb(70, 244, 223);
}

.content.transportes-content {
  border-top: solid 15px rgb(182, 77, 250);
}

.content.utilidade-content {
  border-top: solid 15px rgb(170, 156, 248);
}


/*
 * MEDIA QUERY
 */
@media only screen
and (max-width : 800px) {
  .lst-cadastro li {
    display: block;
    border-radius: 0;
    border-top: solid 1px #e5e5e5;
  }
  .lst-cadastro li:first-child {
    border-top: none;
    border-radius: 5px 5px 0 0;
  }
}
