*{
}
a {
color: #FFF;
text-decoration: none;
}
.menu{
margin: 0.32%;
font-size: 160%;
background-color: #000;
border: 1px black solid;
display: inline-block;
text-align: center;
width: 18.1%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
list-style: none;
}
#menu-home{
margin-left: -2.5%;
color: #000;
    width: 4%;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 0px;
background-color: #080000;
}
body {
margin: 1%;
background-color:rgba(255, 45, 45, 0.94);
}
.menu:hover {
background-color: #9d9d9d;
border:1px solid #0a11b7;
}
#lst-cadastro {
background-color: rgba(255, 45, 45, 0);
}
.imghome {
margin-top: -1.50%;
margin-left: 8px;
}

form {
background-color: #FFF;
margin-right: 14px;
width: 97%;
margin-left: 10px;
}
textarea {
width: 97%;
height: 15%;}
